.container {
    width: 100%;
    margin: 0 auto;
}

.newAccountForm{
    background: #D6D6D6;
    margin-top: 50px;
    padding: 20px;

    &__title {
        text-align: center;
        display: block;
        padding: 20px 0;
        font-weight: 600;
    }

    &__fields {
        text-align: center;
        & label {
            display: block;
            font-size: 18px;
        }
        
        & input[type='text'],
          input[type='email'],
          input[type='password']{
            padding: 5px 20px;
            margin: 0 auto 30px auto;
            border: 2px solid transparent;
            border-radius: 5px;
            width: 50%;
    
            &:focus{
                border: 2px solid #293040;
                box-shadow: 5px 5px 10px #888888;            
            }
    
            &:hover {
                border: 2px solid #293040;
                box-shadow: 5px 5px 10px #888888;  
            }
          }
    }

    
    &__btn{
        display: block;
        margin: 10px auto;
        padding: 10px;
        width: 20%;
        border-radius: 4px;
        border: 1px solid #293040;
        color: #fff;
        background: #293040;
        transition: all .3s ease-in;

        &:hover{
            transform: scale(1.1);
        }
    }

}

@media screen and (max-width: 800px){
    .newAccountForm{
        &__fields{
            & input[type='text'],
              input[type='email'],
              input[type='password']{

                width: 90%;
            }
        }

        &__btn{
            width: 50%;
        }
    }
}