* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  * textarea:focus, * input:focus {
    outline: none; }

body {
  font-family: 'Nunito Sans', sans-serif;
  background: url("../img/webb.png"), #f0f0f0; }

.container {
  width: 100%;
  margin: 0 auto; }

.loginForm {
  margin-top: 150px;
  padding-bottom: 50px;
  background: #D6D6D6; }
  .loginForm__title {
    text-align: center;
    padding: 20px 0;
    font-weight: 600; }
  .loginForm__fields {
    padding: 0 50px;
    text-align: center; }
  .loginForm label {
    display: block;
    font-size: 18px; }
  .loginForm input[type='email'],
  .loginForm input[type='password'] {
    padding: 5px 20px;
    margin: 0 auto 30px auto;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 50%; }
    .loginForm input[type='email']:focus,
    .loginForm input[type='password']:focus {
      border: 2px solid #293040;
      box-shadow: 5px 5px 10px #888888; }
    .loginForm input[type='email']:hover,
    .loginForm input[type='password']:hover {
      border: 2px solid #293040;
      box-shadow: 5px 5px 10px #888888; }
  .loginForm__btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 20%;
    border-radius: 4px;
    border: 1px solid #293040;
    color: #fff;
    background: #293040;
    transition: all .3s ease-in; }
    .loginForm__btn:hover {
      transform: scale(1.1); }
  .loginForm__signup {
    margin-top: 20px;
    font-size: 17px; }
    .loginForm__signup p {
      display: inline-block;
      margin-right: 5px; }

@media screen and (max-width: 800px) {
  .loginForm {
    margin-top: 50px; }
    .loginForm__fields input[type='email'],
    .loginForm__fields input[type='password'] {
      width: 90%; }
    .loginForm__btn {
      width: 50%; } }

.container {
  width: 100%;
  margin: 0 auto; }

.newAccountForm {
  background: #D6D6D6;
  margin-top: 30px;
  padding: 10px; }
  .newAccountForm__title {
    text-align: center;
    display: block;
    padding: 20px 0;
    font-weight: 600; }
  .newAccountForm__fields {
    text-align: center; }
    .newAccountForm__fields label {
      display: block;
      font-size: 15px; }
    .newAccountForm__fields input[type='text'],
    .newAccountForm__fields input[type='email'],
    .newAccountForm__fields input[type='password'] {
      padding: 5px 20px;
      margin: 0 auto 30px auto;
      border: 2px solid transparent;
      border-radius: 5px;
      width: 50%; }
      .newAccountForm__fields input[type='text']:focus,
      .newAccountForm__fields input[type='email']:focus,
      .newAccountForm__fields input[type='password']:focus {
        border: 2px solid #293040;
        box-shadow: 5px 5px 10px #888888; }
      .newAccountForm__fields input[type='text']:hover,
      .newAccountForm__fields input[type='email']:hover,
      .newAccountForm__fields input[type='password']:hover {
        border: 2px solid #293040;
        box-shadow: 5px 5px 10px #888888; }
  .newAccountForm__btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 20%;
    border-radius: 4px;
    border: 1px solid #293040;
    color: #fff;
    background: #293040;
    transition: all .3s ease-in; }
    .newAccountForm__btn:hover {
      transform: scale(1.1); }
  .newAccountForm__login {
    margin-top: 10px; }
    .newAccountForm__login p {
      display: inline-block; }

@media screen and (max-width: 800px) {
  .newAccountForm__fields input[type='text'],
  .newAccountForm__fields input[type='email'],
  .newAccountForm__fields input[type='password'] {
    width: 90%; }
  .newAccountForm__btn {
    width: 50%; } }

.sidebar {
  background: #fff;
  width: 20%;
  height: 100vh;
  min-height: 720px;
  float: left; }
  .sidebar__name {
    padding: 20px 10px;
    font-weight: 300;
    text-align: center; }
  .sidebar span {
    text-decoration: underline;
    font-weight: bold; }
  .sidebar h2 {
    text-align: center; }

@media screen and (max-width: 800px) {
  .sidebar {
    margin: 0 auto;
    width: 80%; } }

.newProjectForm {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px; }
  .newProjectForm__btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #293040;
    color: #fff;
    background: #293040;
    transition: all .3s ease-in; }
    .newProjectForm__btn:hover {
      transform: scale(1.1); }
    .newProjectForm__btn-submit {
      display: block;
      margin: 10px auto;
      padding: 10px;
      width: 90%;
      border-radius: 4px;
      border: 1px solid #293040;
      color: #fff;
      background: #293040;
      transition: all .3s ease-in; }
      .newProjectForm__btn-submit:hover {
        transform: scale(1.1); }
  .newProjectForm__form input[type='text'] {
    text-align: center;
    border: 2px solid #293040;
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    padding: 5px; }
    .newProjectForm__form input[type='text']:focus {
      box-shadow: 5px 5px 10px #888888; }
    .newProjectForm__form input[type='text']:hover {
      border: 2px solid #293040;
      box-shadow: 5px 5px 10px #888888; }

.error p {
  display: inline-block;
  margin-bottom: 0;
  padding: 20px;
  background: #D10000;
  color: #fff;
  border-radius: 4px; }

.projectsList li {
  list-style: none;
  margin-left: 20px; }

.header {
  background: #293040;
  width: 80%;
  float: right;
  padding: 30px 0;
  display: flex;
  justify-content: space-between; }
  .header span {
    font-weight: 700; }
  .header p {
    display: inline-block;
    color: #fff;
    width: 20%;
    margin-bottom: 0px;
    margin-left: 40px; }
  .header__nav {
    display: inline-block; }
    .header__nav a {
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: all .3s ease-in;
      margin-right: 40px;
      font-size: 14px; }
      .header__nav a:hover {
        border-bottom: 1px solid #fff; }

.app-container {
  clear: both; }

.newTask {
  width: 80%;
  float: right; }

.newTaskForm {
  background: #191D2B;
  padding-bottom: 20px;
  clear: both; }
  .newTaskForm h3 {
    text-align: center;
    color: #fff;
    padding-top: 20px; }
  .newTaskForm__input {
    text-align: center;
    margin-top: 30px; }
    .newTaskForm__input-name {
      border: 2px solid #293040;
      border-radius: 5px;
      width: 50%;
      margin: 10px auto;
      padding: 5px; }
      .newTaskForm__input-name:focus {
        box-shadow: 5px 5px 10px #888888; }
      .newTaskForm__input-name:hover {
        border: 2px solid #508EF5; }
    .newTaskForm__input-btn {
      display: block;
      margin: 10px auto;
      padding: 10px;
      width: 50%;
      border-radius: 4px;
      border: 1px solid #293040;
      color: #fff;
      background: #293040;
      transition: all .3s ease-in; }
      .newTaskForm__input-btn:hover {
        transform: scale(1.1); }

.listNewTasks__title {
  text-align: center;
  padding-top: 10px; }

.listNewTasks__tasks {
  width: 80%;
  display: inline-block; }
  .listNewTasks__tasks li {
    list-style: none;
    text-align: center;
    margin: 10px 0; }
